<div class="row">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Products</h2>
                <p class="lead">Aplikasi yang dikustomisasi dan disesuaikan untuk memberikan kinerja tinggi.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="col-md-4 col-xs-12">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="icon-iconmonstr-brick fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">CMP-BD</h4>
                        <p>Big Data Platform</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="icon-iconmonstr-brick fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Psikonogram</h4>
                        <p>solusi terbaru di bidang Personality System Profile (PSP).</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="icon-iconmonstr-brick fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">POStuna</h4>
                        <p>POS yang terintegrasi.</p>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="col-md-4 col-xs-12">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="icon-iconmonstr-brick fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">RESTfull</h4>
                        <p>Web service yang di implemantasikan menggunakan http dengan prinsip-prinsip REST.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="icon-iconmonstr-brick fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Teleneos</h4>
                        <p>Bahasa pemrograman Java API yang menyediakan dukungan dalam membuat layanan web sesuai dengan REST.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="icon-iconmonstr-brick fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Platform</h4>
                        <p>Standar otorisasi aplikasi client untuk mengakses web server.</p>
                    </div>
                </div>
            </div>  
            <br><br><br><br><br><br>
        <div class="container">
            <div class="pull-right">
                <a href="#/general-resul-test"><b>Informasi Lebih Lanjut >> </b></a>
            </div>             
        </div>
    </div>
</div>